%nav.top-bar.fixed.contain-to-grid
  %ul.title-area
    %li.name
      %h1
        %a{:href => '/'} Vocablia

  %section.top-bar-section
    %ul.right

      -#%li.divider
      -#  %li
      -#    %a{:href => '/contact'} Contact Us
      %li.divider
        - if user_signed_in?
          %li.divider
            %li
              %a{:href => '/words'} Palabras
          %li
            = link_to('Salir', destroy_user_session_path, :method => :delete)
        - else
          %li
            = link_to('Ingresar', new_user_session_path)
            


