.row
  %h1 Contact Us
  %p Ponte en contacto con nosotros para mejorar nuestro servicio y tu experiencia
  %form.custom
    .row
      .large-6.columns
        .row.collapse
          .large-3.small-3.columns
            %select
              %option Mr.
              %option Mrs.
              %option Miss.
              %option Ms.
              %option Dr.
          .large-9.small-9.columns
            %input{:type => "text", :placeholder => "Name"}
          
          %input{:type => "email", :placeholder => "Email"}
          %select{:id => "contactDropdown"}
            %option{:disabled => ""} How did you find us?
            %option Google
            %option A friend told me
            %option Not sure, where am I?
      .large-6.columns
        %textarea{:placeholder => "Message"}
        .row
          .large-6.small-6.columns
            %label
              Send me spam  
              %input{:checked => "", :style => "display:none", :type => "checkbox"}/
          .large-3.small-3.columns
            %label CC me?
          .large-3.small-3.columns.end
            .switch.tiny
              %input#x{:checked => "", :name => "switch-x", :type => "radio"}/
              %label{:for => "x", :onclick => ""} No
              %input#x1{:name => "switch-x", :type => "radio"}/
              %label{:for => "x1", :onclick => ""} yes
              %span
        %input.button.small.large-12{:type => "submit", :value => "Send Message"}
.panel
  .row
    %h1.subheader wena

