.container
	#map
.container
	.panel
		.row
			.large-8.columns
				%h1 Vocablia
				%h2.subheader The Social Vocabulary Tool
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet id erat in ultricies. In fringilla eget quam in volutpat. Phasellus tempor consequat odio, nec convallis dui faucibus non. Morbi nec dapibus magna. Nulla eu auctor purus, in volutpat ante. Suspendisse potenti. Vestibulum nec placerat augue. Suspendisse potenti. Nam urna turpis, aliquam eget eleifend id, mollis a augue. Cras id volutpat orci. Vivamus vel nunc libero.
			.large-4.columns
				%h2 Sign up
				.form
					%input{:type => 'text', :placeholder => 'Pick a username'}
					%input{:type => 'text', :placeholder => 'Your email'}
					%input{:type => 'password', :placeholder => 'Create a password'}
					%input.button.success.large-12{:type => 'submit', :value => 'Sign up for Vocablia'}


	.row
		.large-12.text-center
			%h2.subheader Why you’ll love Vocablia.
			%p Powerful features to make software development more collaborative.
		.large-4.columns.text-center
			%h4.subheader Great collaboration starts with communication.
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet id erat in ultricies. In fringilla eget quam in volutpat. Phasellus tempor consequat odio, nec convallis dui faucibus non. Morbi nec dapibus magna. Nulla eu auctor purus, in volutpat ante.
		.large-4.columns.text-center
			%h4.subheader Friction-less development across teams.
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet id erat in ultricies. In fringilla eget quam in volutpat. Phasellus tempor consequat odio, nec convallis dui faucibus non. Morbi nec dapibus magna. Nulla eu auctor purus, in volutpat ante.
		.large-4.columns.text-center
			%h4.subheader World's largest open source community.
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet id erat in ultricies. In fringilla eget quam in volutpat. Phasellus tempor consequat odio, nec convallis dui 

	%hr

	.row
		.large-12.text-center
			%h2 The power of Vocablia	 on your desktop.
			%p Browse repositories, create and manage branches, and commit changes—all from your desktop.
			%a.large.button{:href => '#'}  Download Github for Mac
			%p 
				%small Requires OS X 10.7+ 
