.container
  .panel
    .row
      .large-12.columns
        %h1
          Vocablia.
          %small La palabra del día.
        %blockquote
          Esta aplicación promueve la educación o actualización permanente de los usuarios, incentivando un léxico más amplio y culto. En una época donde las nuevas tecnologías tienden, precisamente, a una máxima economía y simplicación del lenguaje, Vocablia emerge como un esfuerzo por conservar la norma culta formal del español.
          %cite 
            Fundación Que Veo
      .large-4.columns
        - if user_signed_in? then
          = render :template => '/devise/registrations/new' 
           

  .row
    .large-12.text-center
      %h2.subheader Amarás Vocablia tanto como nosotros.
      %p Una aplicación muy simple, para hacer crecer el vocabulario.

    .large-3.columns.text-center
      /%img{:src => '/assets/android-main.png'}
      %h4.subheader Una palabra
      %p Recibe una palabra distinta a la hora que elijas. Practícala y mejora tu léxico.

    .large-3.columns.text-center
      /%img{:src => '/assets/android-main.png'}
      %h4.subheader Cada día
      %p Escucha una pronunciación, la descripción breve y un ejemplo de empleo de la palabra. 
    .large-3.columns.text-center
      /%img{:src => '/assets/android-main.png'}
      %h4.subheader Para ti
      %p Te ayudamos a memorizar las palabras a través de una ilustración de referencia.

    .large-3.columns.text-center
      /%img{:src => '/assets/android-main.png'}
      %h4.subheader Y los demás.
      %p Comparte en las redes sociales una palabra a través de Vocablia.


  %hr
  .row
    .large-12.text-center
      %h2 Vocablia en tus manos.
      %p Descarga la aplicación Vocablia para tu i-phone o Andoroid.
      .row
        %ul.no-bullet
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => asset_path('android-main.png')}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => asset_path('android-swipe.png')}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => asset_path('iphone-main.jpg')}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => asset_path('iphone-swipe.jpg')}
      %br
      .row
        %a{:href => "https://play.google.com/store/apps/details?id=cl.ingennia.vocablia"}
          %img{:alt => "Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_60.png"}

  .row
    .large-12.columns
      %h1
        El equipo.
        %small Fanáticos de la tecnología y la cultura.

    %ul.no-bullet 
      .large-4.columns.text-center
        %li
          %a.th.radius
            %img{:src => asset_path('arnaldo.png')}
          %h3
            Arnaldo Gaspar.
            /%small Desarrollador Android y Web.
      .large-4.columns.text-center
        %li
          %a.th.radius
            %img{:src => asset_path('felipe.png')}
          %h3
            Felipe Chaparro.
            /%small Diseñador Gráfico.
      .large-4.columns.text-center
        %li
          %a.th.radius
            %img{:src => asset_path('javier.png')}
          %h3
            Javier Giovannini.
            /%small Desarrollador iPhone.
  %hr      
  .row
    .large-6.columns
      %h2.subheader
        Prensa
        %small y premios.
      %ul.no-bullet
        %li
          %a{:href =>"http://www.emol.com/noticias/tecnologia/2013/07/26/611203/vocablia-una-aplicacion-chilena-para-aprender-una-nueva-palabra-todos-los-dias.html"}
            %p Nota en prensa.
        %li
          %a{:href =>"http://www.queveo.cl/2013/08/29/ganadores-apps-y-uso-responsable-de-celulares/"}
            %p Premio fundación Que Veo.
    .large-6.columns.text-center
      %h1.subheader
        Contáctanos en
        %small contacto@vocablia.cl




