.container
	.panel
		.row
			.large-8.columns
				%h1 Vocablia
				%h2.subheader La palabra del día
				%p Vocablia es una aplicación para smartphones cuyo objetivo es el de promover la lengua hispana y mejorar el léxico de las personas a través de la difusión de palabras poco frecuentes con su pronunciación e imágenes descriptivas.
			.large-4.columns
				= render :template => '/devise/registrations/new'  

	.row
		.large-12.text-center
			%h2.subheader Porqué amarás Vocablia.
			%p Una aplicación muy simple, para hacer crecer el vocabulario.
		.large-4.columns.text-center
			%h4.subheader Recibe una palabra al día.
			%p A través de Vocablia, recibe una palabra distinta cada día. Además puedes configurar el horario de notificación de la palabra para que la puedas practicar durante el día.

		.large-4.columns.text-center
			%h4.subheader Diferentes pronunciaciones.
			%p Graba tu pronunciación de la palabra del día y revisa las de los demás durante el día. Diviertete aumentando tu léxico escuchando pronunciaciones seleccionadas de otros usuarios.

		.large-4.columns.text-center
			%h4.subheader Sugiere tus palabras.
			%p Sugiere tu palabra para ser incluída durante los próximos días. Además, podrás moderar distintas palabras sugeridas por los distintos usarios y ganar reputación Vocablia.


	%hr
	.row
		.large-12.text-center
			%h2 Obtén el poder de Vocablia en tus manos
			%p Descarga la aplicación Vocablia para tu i-phone o Andoroid.
			%a.large.button.success{:href => '#'}  Android
			%a.large.button{:href => '#'}  Iphone
			%p 
				%small Para versiones android superiores a 4.1.2+ 


.container
	.row.text-center
		y si te animas ...
		%h1.subheader
			Contáctanos en
			%small contacto@vocablia.cl




