.container
  .panel
    .row
      .large-8.columns
        %h1
          Vocablia.
          %small La palabra del día.
        %blockquote
          Esta aplicación promueve la educación o actualización permanente de los usuarios, incentivando un léxico más amplio y culto. En una época donde las nuevas tecnologías tienden, precisamente, a una máxima economía y simplicación del lenguaje, Vocablia emerge como un esfuerzo por conservar la norma culta formal del español
          %cite 
            Fundación Que Veo
      .large-4.columns
        - if not user_signed_in? then
          = render :template => '/devise/registrations/new'  

  .row
    .large-12.text-center
      %h2.subheader Amarás Vocablia tanto como nosotros.
      %p Una aplicación muy simple, para hacer crecer el vocabulario.
    .large-4.columns.text-center
      %h4.subheader Recibe una palabra al día.
      %p A través de Vocablia, recibe una palabra distinta cada día. Además puedes configurar el horario de notificación de la palabra para que la puedas practicar durante el día.

    .large-4.columns.text-center
      %h4.subheader Pronunciaciones y gráficos.
      %p Escucha la pronunciación de cada palabra a medida que te recomendamos durante el año. Memoriza las palabras con un gráfico de ayuda.

    .large-4.columns.text-center
      %h4.subheader Sugiere tus palabras.
      %p Sugiere tu palabra para ser incluída durante los próximos días. Además, podrás moderar distintas palabras sugeridas por los distintos usarios y ganar reputación Vocablia.


  %hr
  .row
    .large-12.text-center
      %h2 Vocablia en tus manos.
      %p Descarga la aplicación Vocablia para tu i-phone o Andoroid.
      .row
        %ul.no-bullet
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => '/assets/android-main.png'}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => '/assets/android-swipe.png'}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => '/assets/iphone-main.jpg'}
          .large-3.columns
            %li
              %a.th.radius
                %img{:src => '/assets/iphone-swipe.jpg'}
      %br
      .row
        %a{:href => "https://play.google.com/store/apps/details?id=cl.ingennia.vocablia"}
          %img{:alt => "Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_60.png"}

  %hr

  .row
    .large-12.columns
      %h1
        El equipo.
        %small Fanáticos de la tecnología y la cultura.

    // Arnaldo Gaspar
    // Javier Giovannini
    // Felipe Chaparro
    // Luis Ortega
    %ul.no-bullet 
      .large-3.columns.text-center
        %li
          %a.th.radius
            %img{:src => '/assets/javier.png'}
          %h3
            Javier Giovannini.
            %small Desarrollador iPhone.
      .large-3.columns.text-center
        %li
          %a.th.radius
            %img{:src => '/assets/arnaldo.png'}
          %h3
            Arnaldo Gaspar.
            %small Desarrollador Android y Web.
      .large-3.columns.text-center
        %li
          %a.th.radius
            %img{:src => '/assets/felipe.jpg'}
          %h3
            Felipe Chaparro.
            %small Diseñador Gráfico.
      .large-3.columns.text-center
        %li
          %a.th.radius
            %img{:src => '/assets/luis.jpg'}
          %h3
            Luis Ortega.
            %small Colaborador Desarrollo.
  %hr      
  .row
    .large-6.columns
      %h2.subheader
        Prensa
        %small y premios.
      %ul.no-bullet
        %li
          %a{:href =>"http://www.queveo.cl/2013/08/29/ganadores-apps-y-uso-responsable-de-celulares/"}
            %p Nota emol.
        %li
          %a{:href =>"http://www.queveo.cl/2013/08/29/ganadores-apps-y-uso-responsable-de-celulares/"}
            %p Premio fundación Que Veo.
    .large-6.columns.text-center
      %h1.subheader
        Contáctanos en
        %small contacto@vocablia.cl




