.row.panel
	.large-8.columns
		%h1 Vocablia
		%h2.subheader La palabra del día
		%p Vocablia es una aplicación para smartphones cuyo objetivo es el de promover la lengua hispana y mejorar el léxico de las personas a través de la difusión de palabras poco frecuentes con su pronunciación e imágenes descriptivas.
	.large-4.columns
		= render template: '/devise/sessions/new'
