.row.panel
	.large-8.columns
		%h1 Welcome to Vocablia
		%h2.subheader The Social Vocabulary Tool
		%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet id erat in ultricies. In fringilla eget quam in volutpat. Phasellus tempor consequat odio, nec convallis dui faucibus non. Morbi nec dapibus magna. Nulla eu auctor purus, in volutpat ante. Suspendisse potenti. Vestibulum nec placerat augue. Suspendisse potenti. Nam urna turpis, aliquam eget eleifend id, mollis a augue. Cras id volutpat orci. Vivamus vel nunc libero.
	.large-4.columns
		= render template: '/devise/sessions/new'
